.sidebar {
  width: 32rem;
  height: calc(100vh - var(--h-header) - 2rem);
  border: .1rem solid var(--border-t);
  border-radius: 1.2rem;
  background-color: var(--bg-t);
  margin-left: 1rem;
  padding-top: 1rem;
  position: sticky;
  top: var(--h-header);
  z-index: var(--zi-menu);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.close_btn {
  min-width: 3.2rem;
  min-height: 3.8rem;
  border-radius: .6rem;
  display: grid;
  place-items: center;
  position: absolute;
  top: 1rem;
  right: -.4rem;
  transform-origin: top left;
  transform: translate3d(90%, 0, 0);
  color: var(--fg-s);
  background-color: var(--bg-t);
  border-block: .1rem solid var(--border-t);
  border-inline: .1rem solid var(--border-t);
  opacity: 0;
  transition: transform .2s ease, opacity .2s linear;

  svg {
    width: 2rem;
    height: 2rem;
    transition: transform .5s ease;
  }

  &[aria-pressed="true"] {
    & svg {
      transform: rotate(-180deg);
    }
  }
}

.sidebar:hover .close_btn,
.close_btn:focus-visible {
  transform: translate3d(100%, 0, 0);
  opacity: 1;
  z-index: 2;
}

.wrapper {
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  padding: 0;
  padding-bottom: 2rem;
  padding-inline: 1rem;
  border-radius: 1.2rem;
}

.menu_group {
  background-color: var(--bg-t);
}