.main {

  .controls {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .ctrl_btn {
    border-radius: 50%;
    min-width: 4rem;
    min-height: 4rem;
    padding: .6rem;

    & svg {
      width: 2rem;
      height: 2rem;
    }
  }
}