.grid {
  display: grid;
  gap: .8rem;
  // padding: .8rem;
  // border-radius: 1.2rem;
  // background-color: var(--bg-t);
}

.grid_item {
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--fg-s);
  background-color: var(--bg-s);

  min-width: 8rem;
  min-height: 8rem;
  border-radius: .8rem;
}