.grid {
  display: grid;
  gap: .8rem;
  width: 100%;
  min-height: calc(100vh - var(--h-header));
  padding: 2rem 0;
}

.grid_item {
  min-width: 4rem;
  min-height: 4rem;
  display: grid;
  place-items: center;
  font-size: 4rem;
  font-weight: bold;
  color: var(--fg-s);
  background-color: var(--bg-s);
  border-radius: 1rem;
  padding: 10px;
}