.main {
  padding-block: 2rem;

  .controls {
    max-width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: .8rem;
    padding-block: .4rem;
    max-width: 100%;
  }

  .user_btn {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding-block: .4rem;
    font-size: 1.4rem;
    background-color: var(--bg-s);
  }

  .user_avatar {
    width: 2.6rem;
    height: 2.6rem;
    margin-inline: -1rem .4rem;
  }

  .all_user_btn {
    padding-inline: 1rem;
  }

  .layout_btn {
    align-self: stretch;
    margin-left: auto;
    padding-inline: .8rem;
    border-radius: 0;
    background-color: transparent;

    svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  .placeholder {
    --ph-size: .8rem;
    position: relative;
    flex-shrink: 0;
    border-radius: 1rem;
    border: .1rem solid var(--blue-1);
    background-color: var(--blue-1-10);
  }

  .ph_item {
    width: auto;
    height: var(--ph-size);

    &[data-layout="vertical"] {
      width: var(--ph-size);
      height: auto;
    }
  }

  .ph_col {
    width: var(--ph-size);
    height: auto;

    &[data-layout="vertical"] {
      width: auto;
      height: var(--ph-size);
    }
  }

  .column[data-dragging="true"] {
    opacity: .5;
  }

  .item_card {
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    max-width: 26rem;
    min-height: fit-content;

    .item_title {
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .item_desc {
      color: var(--fg-s);
      font-size: 1.4rem;
      line-height: 1.3;
    }

    .assignee {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: .4rem;
      color: var(--fg-s);
      font-size: 1.4rem;

      .user_avatar {
        margin-inline: 0;
      }
    }

    &[data-dragging="true"] {
      opacity: .5;
    }
  }

  .tags {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: .8rem;

    .tag {
      border-radius: 5rem;

      span {
        padding-block: .2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .user_avatar {
      margin-inline: -.7rem .4rem;
    }
  }
}