.search_form {
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;

    .sf_input_wrapper {
        border-radius: 6rem;
        padding-inline: .6rem;
        border-color: transparent;

        &:focus-within {
            border-color: var(--blue-6);
        }
    }

    [hidden] {
        display: none;
    }
}

.sf_btn {
    min-width: 3.8rem;
    min-height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fg-s);
    transition: color .15s linear;

    &:hover,
    &:focus {
        color: var(--fg-p);
    }
}

.sf_mic_btn {
    color: var(--fg-s);
    background-color: var(--bg-t);
    margin-left: .6rem;
    border-radius: 50%;

    svg {
        width: 1.8rem;
        height: 1.8rem;
    }
}

.sf_btn svg {
    stroke-width: .2rem;
    width: 1.8rem;
    height: 1.8rem;
}

.sf_popover {
    max-height: min(70vh, 46rem);
    padding: 1rem .4rem 1rem 1.4rem;
    background-color: var(--bg-s);
    border-radius: .8rem;
    overflow: auto;
    scrollbar-width: thin;
    box-shadow: var(--shadow-p) 0px 0px 6px 0px;
}


@media screen and (max-width: 768px) {
    .search_form {
        .sf_reset_btn {
            width: 3.4rem;
        }

        .sf_btn svg {
            width: 1.6rem;
            height: 1.6rem;
        }

        .sf_mic_btn svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}