.form {
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;

    .wrapper {
        border-radius: 6rem;
        padding-inline: .6rem;
        border-color: transparent;

        &:focus-within {
            border-color: var(--blue-6);
        }
    }

    [hidden] {
        display: none;
    }
}

.form_btn {
    min-width: 3.8rem;
    min-height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fg-s);
    transition: color .15s linear;

    &:hover,
    &:focus {
        color: var(--fg-p);
    }
}

.mic_btn {
    color: var(--fg-s);
    background-color: var(--bg-t);
    margin-left: .6rem;
    border-radius: 50%;
}

.reset_icon,
.search_icon {
    stroke-width: .2rem;
    width: 1.8rem;
    height: 1.8rem;
}

.mic_icon {
    width: 1.8rem;
    height: 1.8rem;
}

.dropdown {
    max-height: min(70vh, 46rem);
    padding: 1rem .4rem 1rem 1.4rem;
    background-color: var(--bg-s);
    border-radius: .8rem;
    overflow: auto;
    scrollbar-width: thin;
    box-shadow: var(--shadow-p) 0px 0px 6px 0px;
    animation-name: slide-in;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translate3d(var(--popover-left-shift), calc(var(--popover-top-shift) - 1rem), 0);
    }
}


@media screen and (max-width: 768px) {
    .form {
        .reset_btn {
            width: 3.4rem;
        }

        .search_icon,
        .reset_icon {
            width: 1.6rem;
            height: 1.6rem;
        }

        .mic_icon {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}