.main {
  .resizable {
    max-width: 80rem;
    border-radius: .8rem;
    background-color: var(--bg-t);
  }

  .content {
    width: 100%;
    height: min(fit-content, 100%);
    padding: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}