.form_controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding-block: 1.6rem;
    background-color: var(--bg-p);
}

.ctrl_btn {
    min-width: 9rem;
    padding: .8rem 1.6rem;
}


@media screen and (max-width: 768px) {
    .controls_wrapper {
        margin-top: auto;
    }
}