.card {
    max-width: min(calc(100% - 4rem), 40rem);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 3rem;

    z-index: var(--zi-menu);
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--fg-p-alt);
}

.desc {
    font-size: 1.6rem;
    line-height: 1.34;
    color: var(--fg-s);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-self: flex-end;

    margin-top: 1rem;
}

.control_btn {
    min-width: 10rem;
}


@media screen and (max-width: 768px) {
    .card {
        padding: 3rem;
        gap: 2rem;
        border-radius: 1rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .desc {
        font-size: 1.6rem;
    }

    .controls {
        margin-top: 1rem;
        gap: 2rem;
    }

    .control_btn {
        min-height: fit-content;
        min-width: 9rem;
        padding-block: .8rem;
    }
}