.wrapper {
  padding-inline: 3rem;
  padding-block: 2rem;
  min-height: calc(100vh - var(--h-header));
  width: 100%;
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  & main {
    width: 100%;

    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    align-content: start;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-inline: 2rem;
  }
}