.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  max-width: 100rem;
  padding: 2rem;
  padding-left: 4rem;
}

.desc {
  color: var(--fg-s);
}

.section {
  width: 100%;

  ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .8rem 2rem;
  }

  .group {
    margin-block: 1rem 1.6rem;
    color: var(--fg-s);
    font-weight: 500;
  }

  a {
    font-size: 1.8rem;
    // font-weight: 500;
    border-radius: .6rem;
    padding: .8rem 1.6rem;
    transition-property: color, background;
    transition-duration: .3s;
    transition-timing-function: ease;

    display: flex;
    align-items: center;
    gap: 1.6rem;

    svg {
      color: var(--fg-s);
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
    }

    &:hover {
      color: var(--blue-1);
      background-color: var(--blue-1-30);
    }
  }
}


@media screen and (max-width: 1100px) {
  .section {
    ul {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media screen and (max-width: 950px) {
  .section {
    ul {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}


@media screen and (max-width: 768px) {
  .main {
    padding-inline: 2rem;
    padding-block: 2rem;
  }

  .section {
    a {
      font-size: 1.6rem;
    }
  }
}