.main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
  padding: 2rem;
}

.title {
  font-size: 4rem;
  background: linear-gradient(to bottom, var(--fg-p), var(--fg-p-alt), var(--fg-s), var(--fg-s-alt), var(--fg-t));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  color: var(--fg-s);
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.card {
  position: relative;
  width: 100%;
  max-width: 100rem;
  height: 100%;
  max-height: 50vh;
  display: grid;
  grid-auto-rows: auto;
  place-items: center;
  align-content: center;
  gap: 1rem;
  border-radius: 1.2rem;
  z-index: 1;

  // border: .1rem solid var(--border-s);
  // background-color: var(--bg-t);
  // background-color: transparent;
  // -webkit-backdrop-filter: blur(.2rem);
  // backdrop-filter: blur(.2rem);

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   -webkit-backdrop-filter: blur(.2rem);
  //   backdrop-filter: blur(.2rem);
  //   z-index: 1;
  // }
}

.pattern_svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: var(--border-s);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3.4rem;
  }

  .desc {
    font-size: 1.4rem;
  }
}