.main {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  perspective: max(100vw, 100vh);
}

.logo {
  width: 14rem;
  height: auto;
  color: var(--fg-p-alt);
  margin-bottom: .8rem;
}

.title {
  font-size: 4rem;
  background: linear-gradient(to bottom, var(--fg-p), var(--fg-p-alt), var(--fg-s), var(--fg-s-alt), var(--fg-t));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  color: var(--fg-s);
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.card {
  position: relative;
  width: 100%;
  max-width: 100rem;
  height: 100%;
  max-height: 50vh;
  display: grid;
  grid-auto-rows: auto;
  place-items: center;
  align-content: center;
  gap: 1rem;
  border-radius: 1.2rem;
  z-index: 1;

  // border: .1rem solid var(--border-s);
  // background-color: var(--bg-t);
  // background-color: transparent;
  // -webkit-backdrop-filter: blur(.2rem);
  // backdrop-filter: blur(.2rem);

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   -webkit-backdrop-filter: blur(.2rem);
  //   backdrop-filter: blur(.2rem);
  //   z-index: 1;
  // }
}

.pattern_svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: var(--border-s);
  -webkit-filter: blur(0 0 10px var(--blue-1));
  filter: blur(0 0 10px var(--blue-1));
}

.main_panel_left,
.main_panel_right {
  position: absolute;

  top: 50%;
  width: min(100vh, 100vw);
  height: calc(min(100vh, 100vw) + 30rem);
}

.main_panel_left {
  left: 0;
  transform-origin: bottom right;
  transform: translate3d(-100%, -60%, 0) rotateZ(30deg) scale(.65);
  animation: left-slide-in 1s ease;

  @keyframes left-slide-in {
    from {
      transform: translate3d(-100%, -60%, 0) rotateZ(10deg) scale(.65);
      opacity: 0;
    }
  }
}

.main_panel_right {
  right: 0;
  transform-origin: bottom left;
  transform: translate3d(100%, -60%, 0) rotateZ(-30deg) scale(.65);
  animation: right-slide-in 1s ease;

  @keyframes right-slide-in {
    from {
      transform: translate3d(100%, -60%, 0) rotateZ(-10deg) scale(.65);
      opacity: 0;
    }
  }
}

.main_panel_center {
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
  transform: translate3d(0, 20%, 0) rotateX(60deg);
  width: 90vw;
  height: 100vh;
  animation: center-slide-in 1s ease;

  @keyframes center-slide-in {
    from {
      opacity: 0;
      transform: translate3d(0, 30%, 0) rotateX(50deg) scale(.7);
    }
  }
}

.main_panel_center,
.main_panel_left,
.main_panel_right {
  padding: 1rem;
  border-radius: 5rem;
  background: var(--bg-t);
  box-shadow: 0 0 .4rem var(--shadow-p);

  div {
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    background: var(--bg-s);
    box-shadow: 0 0 .4rem var(--shadow-p);
  }
}


@media screen and (max-width: 768px) {
  .title {
    font-size: 3.4rem;
  }

  .desc {
    font-size: 1.4rem;
  }
}