@use "@/lib/ui/styles/mixins/supports" as *;

.overlay {
    position: fixed;
    bottom: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: var(--zi-main-overlay);
    background: var(--bg-overlay);

    @include backdrop-support {
        background-color: transparent;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }


    &.open {
        bottom: 0;
        opacity: 1;
        animation: animate-in .3s cubic-bezier(0, 0, .2, 1);
    }
}

@keyframes animate-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}


@media screen and (max-width: 767px) {
    .overlay {
        background: var(--bg-overlay);
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}