.list {
  width: auto;
  max-width: min(100%, 60rem);
  height: auto;
  max-height: fit-content;
  overflow: auto;
  position: relative;
  flex-shrink: 0;
  display: flex;
}

.scrollable {
  display: flex;
  gap: .8rem;
  height: fit-content;
}

.item {
  width: 16rem;
  height: 16rem;
  background-color: var(--bg-s);
  border-radius: 1.2rem;
  font-size: 6rem;
  font-weight: bolder;
  color: var(--fg-s);

  display: grid;
  place-items: center;
  flex-shrink: 0;
}