.main {

  .collapsible {
    max-width: 42rem;
  }

  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: .8rem;

    svg {
      width: 2rem;
      height: 2rem;
      stroke-width: .2rem;
      color: var(--fg-s);
      transition: transform .5s ease;
    }

    &:hover {
      background-color: var(--bg-t);
    }
  }

  .collapsible[aria-expanded="true"] .summary svg {
    transform: rotate(90deg);
  }

  .details {
    font-size: 1.6rem;
    line-height: 1.35;
    padding-inline: 1rem;
    padding-block: 1rem;
    color: var(--fg-s);
  }
}